<div class="homepage">
  <div class="info">
    <div class="main_title">
      <div class="main_text">
        <h1>Top tutors to help you now!</h1>
      </div>
      <p>Experts in the area they teach, our tutors from the the world's top universities are available to help with our tailor-made classes!</p>
      <div class="margin_button mt-5 mt-5 mb-5">
         <%= link_to 'Available lessons', lessons_path, class: "btn btn-warning ml-2rem", style: "
          margin-left: 0rem;
          border-radius: 12px;
          height: 4rem;
          padding: auto;
          padding: 1.1rem;"
        %> 
      </div>
    </div>
    <div>
      <%= image_tag "https://images.pexels.com/photos/4145153/pexels-photo-4145153.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "main_picture" %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    Your sightscape team
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/sightscape.academy/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
